$themes: (
    light: (
        color-background: #f0f1f5,
        color-text: #45505b,
        color-card: #FFF,
        color-border-color: #343434,
        color-container: #fefefe
    ),
    dark: (
        color-background: #49565c,
        color-text: #fff,
        color-card: #212121,
        color-border-color: #f1f1f1,
        color-container: #3b3c36
    )
);